.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.project-container {
    padding: 20px 24px;
    border: 1px solid $portfolio-border-color;
    border-top: none;
}

