.auth-nav-icon {
    fill: currentColor;
    margin-right: 10px;
}

.feature-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $end-bg-color;
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

